
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
    height: 100%;
    width: 100%;
    position: fixed;
}

canvas {
    display: block;
    position: fixed;
    top: 45;
    left: 0;
    background: #000;
}
